<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDC6yZzJehtkBtswzu13d-U5rngzJ47nsk</string>
	<key>GCM_SENDER_ID</key>
	<string>645333407510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studentManagementWeb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>studentmanagemnetweb</string>
	<key>STORAGE_BUCKET</key>
	<string>studentmanagemnetweb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645333407510:ios:5ddd64a95e243d024de237</string>
</dict>
</plist>